# Stripe
STRIPE_SECRET_KEY=sk_live_...
STRIPE_WEBHOOK_SECRET=whsec_...
STRIPE_PRICE_FREE=price_1TAMaHGf9QijP49FYUwP3nZq
STRIPE_PRICE_PRO=price_1TAMb6Gf9QijP49FKhRQYUSf
STRIPE_PRICE_PREMIUM=price_1TAMciGf9QijP49FHTr9DuAB

# Clerk
CLERK_PUBLISHABLE_KEY=pk_live_Y2xlcmsudGVyc2VhaS5vcmck
CLERK_SECRET_KEY=sk_live_...

# App
APP_URL=https://www.terseai.org
PORT=3000
